@import 'reset';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Coustard:900|Raleway');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');

$color_title: rgb(82, 82, 82);
$color_content: rgb(240, 251, 255);
$color_title_text: rgb(241, 253, 252);

@keyframes menuHover {
    0% {
        border-bottom: 0px solid #666;
    }

    100% {
        background-color: #777;
        border-bottom: 5px solid #666;
    }
}

@keyframes activeHover {
    0% {
    }

    100% {
        border-bottom: 5px solid white;
    }
}

body {
    background: no-repeat center center fixed;
    background-color: #eff5ff;
    background-size: cover;
}

.wrapper {
    width: 60%;
    margin: 2rem auto;

    @media screen and (max-width: 1024px){
        width: 80%;
    }

    @media screen and (max-width:768px) {
        width: 90%;
    }

    @media screen and (max-width:480px) {
        width: 95%;
    }
}

.arriba {
    display: grid;
    grid-template-columns: 70% 30%;
}

/* Figuras */

article {
    figure {
        margin: auto 1rem;

        &.fig1 {
            width: 35%;
            float: right;
            margin-top: 0%;

            @media screen and (max-width:768px) {
                width: 100%;
                display: block;
                margin: 0rem;
                padding-bottom: 1rem;
            }
        }

        &.fig2 {
            width: 40%;
            float: left;
            margin-top: 0%;
            margin-left: 0rem;

            @media screen and (max-width:768px) {
                width: 100%;
                display: block;
                margin: 0rem;
                padding-bottom: 1rem;
            }
        }
    }
}

figure {
    img {
        width: 100%;
    }
}

/* Header */

header {
    text-align: center;
    width: 100%;

    h1 {
        font-family: 'Work Sans', sans-serif;
        margin-bottom: 0rem;
        font-size: 2.5rem;

        @media screen and (max-width: 1024px) {
            font-size: 2rem;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    p {
        font-family: 'Raleway', serif;
        font-weight: 800;
        margin-top: 0.5rem;

        @media screen and (max-width:480px) {
            display: none;
        }
    }
}

/*Articulos*/

%article-title-shared {
    font-family: 'Raleway', serif;
    font-weight: 800;
}

article {
    p {
        margin-right: 1rem;
        font-family: 'Raleway', sans-serif;
        text-align: justify;

        span {
            font-weight: 600;
        }

        @media screen and (max-width:768px) {
            width: 100%;
        }
    }

    h2 {
        @extend %article-title-shared;
    } 
    
    h3 {
        @extend %article-title-shared;
    }
}

/* Aside */

aside {
    background-color: $color_content;
    font-style: italic;
    font-family: 'Raleway', serif;
    padding: 0rem 1rem;
    float: right;
    width: 25%;
    font-size: 0.9rem;
    margin: 0.5rem;
    border-radius: 4px;
    border: 1px solid #b7d2ff;

    @media screen and (max-width:768px) {
        padding: 0rem;
        float: none;
        width: 100%;
        margin: 1rem 0rem;
        padding: 1rem 0rem;
    }

    p {
        @media screen and (max-width:768px) {
            margin: 0rem 1rem;
        }
    }

    h2 {
        @media screen and (max-width:768px) {
            margin: 0rem 1rem;
        }
    }
}

/*Video*/

/* iframe {
    width: 100%;
    height: 600px;
    margin-right: 0.5rem;

    @media screen and (max-width: 1024px) {
        height: 400px;
    }

    @media screen and (max-width:768px) {
        height: 350px;
    }

    @media screen and (max-width:480px) {
        height: 200px;
    }
} */

$grey:#D6D6D6;

.wrapper_video {
  height:240px;
  width:360px;
  position:relative;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  .video {
    height:100%;
    max-height:720px;
    width:100%;
    max-width:1280px;
    background-color:#111;
    video {
      height:100%;
      width:100%;
      &::-webkit-media-controls-enclosure,
      &::-webkit-media-controls {
        display:none !important; // Override display of the original controls
      }
    }
    .controls {
      height:40px;
      width:100%;
      position:absolute;
      left:0;
      bottom:0;
      background:rgba(6,6,6,.8);
      z-index:2147483648; // Override z-index of the original controls
      &.extended {
      }
      .playpause,
      .volume,
      .fullscreen {
        width:48px;
        padding:12px 0;
        color:$grey;
        font-size:16px;
        text-align:center;
      }
      .progress {
        width:calc(100% - 208px);
        position:absolute;
        top:0;
        bottom:0;
        left:54px;
        margin:auto;
        background:transparent;
      }
      .volume {
        position:absolute;
        right:96px;
        input {
          background:transparent;
          width:48px;
          position:absolute;
          top:0;
          bottom:0;
          left:44px;
          margin:auto;
        }
      }
      .fullscreen {
        position:absolute;
        right:0;
        top:0;
      }
    }
  }
  .text {
    width:360px;
    position:absolute;
    top:280px;
    left:0;
    right:0;
    bottom:auto;
    font-size:48px;
    text-align:center;
    font-family:"Roboto Condensed";
  }
}

/*Footer*/

footer {
    border-top: 1px solid black;
    font-style: italic;
}

/*Navbar*/

%ul-before-after-shared {
    display: block;
    content: "";
}

.menu {
    ul {
        list-style: none;
        text-align: center;
        font-family: 'Raleway', serif;
        margin: 0;
        padding: 0;
        justify-content: center;
        overflow: hidden;
        background-color: #888;
        border-radius: 4px;
        grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 1fr 12.5%;
        display: grid; 

        &:before {
            @extend %ul-before-after-shared;
        }

        &:after {
            @extend %ul-before-after-shared;
        }

        @media screen and (max-width:768px) {
            grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
        }

        @media screen and (max-width:480px) {
            display: block;
        }
    }

    li {
        a {
            display: block;
            padding: 1rem 2rem;
            white-space: nowrap;
            color: white;
            text-decoration: none;
            text-transform: capitalize;

            &:not(.active):hover {
                border-radius: 4px;
                animation: menuHover .5s forwards;
            }

            &.active {
                background-color: rgb(68, 68, 68);
                color: rgb(230, 230, 230);
                border-radius: 5px;
                border-bottom: 5px solid black;

                &:hover {
                    animation: activeHover .5s forwards;
                }
            }
        }
    } 

    .esconder {
        @media screen and (max-width:480px) {
            display: none;
        }
    }
}

/* Navbar Replegada */

.replegado {
    display: none;
    text-align: left;
    padding-left: 1rem;
    list-style: none;

    @media screen and (max-width:480px) {
        display: block;
    }

    &.opcionesRep {
        display: none;
    }
}

li {
    img {
        width: 25px;
        height: 25px;
    }
}

/*Imagenes*/

div {
    &.autores {
        display: flex;
        justify-content: space-between;
        font-family: 'Raleway', serif;
        margin: 0 3%;

        @media screen and (max-width: 1024px) {
            display: block;
            margin: 0;
        }
    }

    &.persona {
        max-width: 12.5rem;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        margin: 1rem .1rem 1rem;

        @media screen and (max-width: 1024px) {
            max-width: 100%;
            width: 100%;
            margin: 0;
            margin-top: 1rem;
        }
    }

    &.nombre {
        margin: auto;
        box-sizing: border-box;
        font-size: 1.45rem;
        width: 100%;
        padding: .3rem;
        background-color: $color_title;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        color: $color_title_text;
        text-align: center;
    }

    &.role {
        margin: auto;
        box-sizing: border-box;
        font-size: 1.25rem;
        width: 100%;
        padding: .2rem;
        background-color: $color_title;
        color: $color_title_text;
        margin: 0 0 .35rem;
        text-align: center;
    }

    &.foto {
        margin: 0.5rem auto;
        text-align: center;
        background-color: $color_content;
        line-height: 0;
        max-height: 11.5rem;
        max-width: 11.5rem;
        width: auto;
        height: auto;
        border-radius: 100%;
        overflow: hidden;

        img {
            position: relative;
            top: -10%;
            width: 100%;
            height: 100%;
        }
    }

    &.datos {
        padding: .6rem;
        font-size: .95rem;
        width: 100%;
        display: inline-block;
        margin: auto;
        box-sizing: border-box;
        background-color: $color_content;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

/*Formulario*/

%form-text-shared {
    margin-top: 0.5rem;
    display: block;
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
}

%form-input-shared {
    background-color: #777;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 3px;
    font-family: inherit;

    &:hover {
        background-color: #888;
    }
}

fieldset {
    font-family: 'Raleway', serif;
    font-weight: bold;
    border: 1px solid gray;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 1rem;

    legend {
        font-size: 1.25rem;
    }

    input{
        &[type=text] {
            @extend %form-text-shared;
        }

        &[type=submit] {
            @extend %form-input-shared;
        }

        &[type=button] {
            @extend %form-input-shared;
        }

        &[type=reset] {
            @extend %form-input-shared;
        }
    }

    select {
        @extend %form-text-shared;
    }

    textarea {
        @extend %form-text-shared;
    }

    div {
        &.validate {
        color: rgb(241, 55, 55);
        margin-left: 2rem;
        }
    }
}

/* Resultados formulario */

.salidaDatos {
    width: 100%;
    font-family: 'Raleway', serif;
}

.oculto {
    display: none;
}
